<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

  </article>
<h4>Reviews this product</h4>
  <%= form_for :review, url: product_reviews_path(@product), method: 'post' do |r| %>
  <%= r.hidden_field :user_id, value: session[:user_id] %>
  <label>Description</label>
  <%= r.text_area :description %>
  <label>Rate</label>
  <%= r.select :rating, [['1'], ['2'], ['3'], ['4'], ['5']]%>
  <%= r.submit %>
<% end %>
<h4>Product Reviews</h4>
 <article>
   <% @reviews.each do |review| %>
    <% user = User.find_by(id: review.user_id)%>
      <strong><%= user.first_name %> <%= user.last_name %></strong> 
      <br>
      <p>Product Rating</p>
      <p><%= review.rating %>/5</p>
      <p>Comment</p>
      <p><%= review.description %></p>
  <% end %>
  </article>

</section>
